@font-face {
  font-family: Sparta;
  src: url('fonts/sparta.ttf');
  font-weight: bold;
}

body {
  background: black;
}

.espartano-image {
  background: url('imgs/espartano.png') no-repeat;
}

.circulo-image {
  background: url('imgs/circulo.png') no-repeat;
}

.espartano {
  z-index: 10;
  position: absolute;
  width: 709px;
  height: 801px;
  //transform: translate3d(300px, -714px, 0px);
  transform: translateY(-714px);
}

.circulo {
  z-index: 5;
  position: relative;
  margin: auto;
  width: 709px;
  height: 801px;
  transform: translateY(-16px);
  //transform: translate3d(300px, -16px, 0px);
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.espartano > span {
  position: relative;
  display: block;
  background: url('imgs/brillog.png') no-repeat; 
  background-position: -300px 0;
  margin-top:-137px;
  height: 133px;
  width: 132px;    
}

.image-gym {
  display: none;
  float: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.image-gym:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.images-container {
  position: relative;
  display: inline;
  width: 100px;
  float: left;
  margin-top: 90px;
}

.right-images {
  float: right;
  margin-top: -722px;
}

svg {
  position: absolute;
  z-index: 11;
  display: none;
  -webkit-transform: translate(625%, 219%);
  transform: translate(625%, 219%);
}
.group {
    -webkit-transform: translate(42.5px,42.5px);
    -moz-transform: translate(42.5px,42.5px);
    transform: translate(42.5px, 42.5px);
}
path {
    -webkit-transform: translate(-42.50px,-42.50px);
    -moz-transform: translate(-42.50px,-42.50px);
    transform: translate(-42.50px,-42.50px);
}
.large {
  -webkit-animation: large 2.5s infinite;
  -moz-animation: large 2.5s infinite;
  animation: large 2.5s infinite;
}
.large-2 {
  -webkit-animation: large-2 2.5s infinite;
  -moz-animation: large-2 2.5s infinite;
  animation: large-2 2.5s infinite;
}
.small {
  -webkit-animation: small 2.5s infinite;
  -moz-animation: small 2.5s infinite;
  animation: small 2.5s infinite;
}
@-webkit-keyframes large {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
  }
}
@-moz-keyframes large {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(1.5);
  }
}
@-webkit-keyframes large-2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(405deg) scale(1.1);
    transform: rotate(405deg) scale(1.1);
  }
}
@-moz-keyframes large-2 {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(405deg) scale(1.1);
  }
}
@-webkit-keyframes small {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-360deg) scale(1);
    transform: rotate(-360deg) scale(1.5);
  }
}
@-moz-keyframes small {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) scale(1.5);
  }
}


